@use "../abstracts/variables" as var;
@use "../abstracts/mixin" as mixn;

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  //  gap: var.$block-space;

  & h2 {
    font-size: 1.125em;
  }

  & h3 {
    font-size: 1em;
  }
}

.announcements-container,
.trends {
  background-color: var.$white;
  padding: var.$block-space;
  border-radius: 0.5em;
}

.announcements-container {
  margin-block-end: var.$block-space;
}

.trends>* {
  margin-block-end: 0.5em;
}

.announcement+.announcement {
  border-block-start: 0.125em solid var.$light-blue;
  padding-block-start: calc(var.$block-space/2);
}

.user-profile__text {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & h3 {
    font-size: 1rem;
    margin-block-end: 0;
    font-weight: map-get(mixn.$font-weights, reg);
  }

  & p {
    color: transparentize($color: var.$dark-red, $amount: 0.4);
  }
}