//colors
$slateblue: #1C93D3;
$light-blue:#E2E9EF;
$golden-yellow:#E1AF31;
$dark-red: #1F1F1F;
$greyish-blue: #B5BDC2;
$greyish-red: #B4A3A4;
$white: #f9f9f9;

// fonts
$font-roboto: 'Roboto', sans-serif;
$font-sans:'Open Sans', sans-serif;

// spacing ans gutters
$block-space: 1rem;
$inline-space: 1.25rem